  body {
    margin: 0;
    font-family: 'Lato', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /*Style for scroll bar*/
  ::-webkit-scrollbar {
      width: 7px;
  }
  ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
      background: #00B685;
      border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: #005f44;
  }

  .voffset { margin-top: 2px; }
  .voffset1 { margin-top: 5px; }
  .voffset2 { margin-top: 10px; }
  .voffset3 { margin-top: 15px; }
  .voffset4 { margin-top: 30px; }
  .voffset5 { margin-top: 40px; }
  .voffset6 { margin-top: 60px; }
  .voffset7 { margin-top: 80px; }
  .voffset8 { margin-top: 100px; }
  .voffset9 { margin-top: 150px; }

  .boffset { margin-bottom: 2px; }
  .boffset1 { margin-bottom: 5px; }
  .boffset2 { margin-bottom: 10px; }
  .boffset3 { margin-bottom: 15px; }
  .boffset4 { margin-bottom: 30px; }
  .boffset5 { margin-bottom: 40px; }
  .boffset6 { margin-bottom: 60px; }
  .boffset7 { margin-bottom: 80px; }
  .boffset8 { margin-bottom: 100px; }
  .boffset9 { margin-bottom: 150px; }

  .pvoffset { padding-top: 2px; }
  .pvoffset1 { padding-top: 5px; }
  .pvoffset2 { padding-top: 10px; }
  .pvoffset3 { padding-top: 15px; }
  .pvoffset4 { padding-top: 30px; }
  .pvoffset5 { margin-top: 40px; }
  .pvoffset6 { padding-top: 60px; }
  .pvoffset7 { padding-top: 80px; }
  .pvoffset8 { padding-top: 100px; }
  .pvoffset9 { padding-top: 150px; }

  .pboffset { padding-bottom: 2px; }
  .pboffset1 { padding-bottom: 5px; }
  .pboffset2 { padding-bottom: 10px; }
  .pboffset3 { padding-bottom: 15px; }
  .pboffset4 { padding-bottom: 30px; }
  .pboffset5 { padding-bottom: 40px; }
  .pboffset6 { padding-bottom: 60px; }
  .pboffset7 { padding-bottom: 80px; }
  .pboffset8 { padding-bottom: 100px; }
  .pboffset9 { padding-bottom: 150px; }


  .bg-img {
      background-image: url(../assets/images/PackitUp_background_home.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 100vh;
      display: block;
  }
  .bg-img2 {
      background-image: url(../assets/images/PackitUp_outro.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 100vh;
      display: block;
      margin-top: 28em;
  }
  .sdgRight {
      background-image: url(../assets/images/About/PackitUp_sdg.jpg);
      background-repeat: no-repeat;
      width: 50%;
      background-position: center;
      background-size: cover;
      height: 40em;
      border-radius: 40px 0 0 40px;
      padding-left: 5em;
  }
  .intentionImg {
      background-repeat: no-repeat;
      width: 65%;
      border-radius: 40px 40px 40px 40px;
      background-position: center;
      background-size: cover;
      height: 25em;
      margin-left: 5em;
      margin-right: 5em;
  }

  .aboutBannerImg {
      background-image: url(../assets/images/About/PackitUp_background_about.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 75vh;
      display: block;
  }

  .aboutBannerContainer {
      background-color: #EEFBF6;
      padding: 4em 4em 4em 6em;
      border-radius: 0 40px 40px 0;
      box-shadow: 0 2px 4px rgba(0,0,0,.2), 0 -1px 0 rgba(0,0,0,.02);
  }

  .aboutBannerContainerTitle {
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }
  .aboutBannerContainerSubTitle {
      font-size: 1.5em;
      font-weight: 700;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }

  .banner-container {
      background-color: #fff;
      padding: 4em 4em 4em 4em;
      margin-left: 12vw;
      margin-top: 12vh;
      /*width: 25%;*/
      border-radius: 40px;
      box-shadow: 5px 5px 7px 7px #7474744f;
      -webkit-animation: fadein 2s;
      -moz-animation: fadein 1s;
      -ms-animation: fadein 1s;
      -o-animation: fadein 1s;
      animation: fadein 1s;
      transition-timing-function: cubic-bezier(0, 0, 0, 1)
  }

  .banner-container2 {
      padding: 3em 10em 3em 10em;
      background-color: #fff;
      border-radius: 30px;
      text-align: center;
  }

  .loginBtn {
      background-color: #B5E0E6;
      width: 80%;
      color: white;
      display: block;
      margin: 0 auto;
      font-weight: 700;
      box-shadow: 3px 3px 6px 3px #7474744f;
      border-radius: 40px;
      font-size: 1.2em;
      cursor: pointer;
      transition: 0.3s;
      border: none;
      height: 3em;
  }

  .loginBtn:hover {
      background-color: #62a3b2;
  }

  .signUpBtn {
      background-color: #00B685;
      width: 80%;
      color: white;
      display: block;
      margin: 0 auto;
      font-weight: 700;
      box-shadow: 3px 3px 6px 3px #7474744f;
      border-radius: 40px;
      font-size: 1.2em;
      cursor: pointer;
      transition: 0.3s;
      border: none;
      height: 3em;
  }

  .signUpBtn:hover {
      background-color: #005f44;
  }

  .roundedBannerContainer {
      background-color: #fff;
      padding: 4em 4em 4em 4em;
      margin-left: 12vw;
      margin-top: 12vh;
      width: auto;
      border-radius: 40px;
      box-shadow: 5px 5px 7px 7px #7474744f;
      position: absolute;
  }

  .roundedBannerContainerFooter {
      background-color: #fff;
      padding: 3em 10em 3em 10em;
      width: fit-content;
      border-radius: 40px;
      position: absolute;
      margin-top: 5em;
      /*box-shadow: 5px 5px 7px 7px #7474744f;*/
  }
  @media only screen and (max-width: 425px) {
      .roundedBannerContainer {
          position: unset;
          margin-top: unset;
          margin-left: unset;
          /*top: 50%;*/
          /*left: 50%;*/
          /*-ms-transform: translateX(-50%) translateY(-50%);*/
          /*-webkit-transform: translate(-50%,-50%);*/
          /*transform: translate(-50%,-50%);*/
      }
  }
  @media only screen and (max-width: 768px) {
      .roundedBannerContainer {
          margin-top: unset;
          margin-left: unset;
          top: 55%;
          left: 50%;
          -ms-transform: translateX(-50%) translateY(-50%);
          -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
      }
  }

  .bannerHeader {
      font-size: 1.8em;
      font-weight: 900;
      padding-bottom: 1em;
  }

  .paragraphHeader {
      font-size: 2.5em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }

  .paragraph {
      font-size: 1.5em;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }

  .paragraphContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5em 5em 5em 5em;
  }

  .imgBorderRadiusLeft {
      border-radius: 40px 0 0 40px;
      float: right;
      padding-right: 0;
  }

  /*Over lap img css*/
  .containerOverLapImg {
      display: flex;
      width: 300px;
  }
  .card-container-over-lap-img {
      flex: 1 0 0;
      /*overflow-x: hidden;*/
  }
  .card-container-over-lap-img:last-child {
      flex: 0 0 auto;
  }
  .cardOverLapImg {
      width: 150px;
  }

  /*Overlay zigzag formate*/

  .overlay {
      z-index: 9;
  }

  .introSection3 {
      background-color:#EEFBF6;
      height: 50em;
  }

  .footerBtn{
      background-color: white;
      color: #00B685;
      text-align: center;
      border: 3px solid #00B685;
      height: 3em;
      border-radius: 40px;
      font-size: 1.2em;
      cursor: pointer;
      transition: 0.3s;
      width: 80%;
      margin: 0 auto;
  }
  .footerBtn:hover {
      background-color: #00B685;
      color: white;
  }

  .footerHeading {
      font-weight: bold;
      font-size: 1.5em;
  }

  .footerContent {
      font-size: 1.2em;
  }

  /*Team Style*/
  .teamHeader {
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      font-size: 2.5em;
  }
  .avatarImgStyle {
      max-width: 68%;
      border-radius: 20px;
  }
  .teamMemberName {
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      font-weight: bold;
  }
  .designation {
      font-size: 1.5em;
  }

  .bannerForBusinessSection {
      background-image: url(../assets/images/ForBusiness/PackitUp_background_partners.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 80vh;
      display: block;
  }

  .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 15px 4px;
      background-color: #fff;
      border-radius: 50%;
      display: inline-block;
      transition: background-color .6s ease;
  }

  .bannerHeaderForBusiness {
      color: #fff;
      font-size: 2em;
      margin: .67em 0;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }

  .bannerParagraphForBusiness {
      color: #fff;
      width: 422px;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }

  .bannerButtonForBusiness {
      background-color: #00B685;
      width: 353px;
      color: white;
      border: none;
      text-align: center;
      height: 3em;
      border-radius: 40px;
      font-size: 1.2em;
      cursor: pointer;
      transition: 0.3s;
  }
  #hover:hover {
      border: 5px solid #00B685;
      opacity: 0.7;
  }

  #hoverGrow {
      transition: all .2s ease-in-out;
  }

  #hoverGrow:hover {
      transform: scale(1.1);
  }

  .introCardImgStyle {
      width: 16em;
      margin: 3em auto;
  }

  .introCardHeader {
      font-size: 1.5em;
      margin-block-end: 0.83em;
      font-weight: bold;
  }

  .introCardContent {
      font-size: 1.5em;
      width: 660px;
  }

  .CardHeadingForBusiness {
      color: #fff;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      font-weight: bold;
  }

  .CardContentForBusiness {
      font-weight: 700;
      margin: 2em 0;
      font-size: 16px;
      color: #2a2d34;
  }

  .contactForBusinessStyle {
      color: #FF0000;
      font-size: 1.17em;
      margin-block-start: 1em;
      margin-block-end: 1em;
      font-weight: bold;
  }

  .priceServiceDetail {
      color: #2a2d34;
      font-size: 0.7em;
      margin: 0.7em 0;
  }